/* page structure and reset */
body{margin:0; background-color: #141414; font-family:Verdana, Sans-Serif;}
body * {margin:0; padding:0; border:0; font:normal 15px Helvetica;}
body a{text-decoration:none;outline:none;}
body a img{border:none;}
#page-container{display:block; position:relative; margin:0px auto; width:100%; height:420px; overflow:hidden; background: transparent url(../img/bg.jpg) repeat; top:-16px}
#content-wrap{display:block; position:relative; margin:0px auto; width:960px; top:-110px;overflow:hidden;}
#page-content{display: none;position:relative; height:410px; width:960px; margin:0px auto;}
/* header and menu bar */
#top-pane{background: transparent url(../img/orange-glow.png) center bottom repeat-x; margin:0px; display:block; position:relative; width:100%; height:65px; z-index:30;}
#top-pane #top-banner{width:960px;margin:0px auto;text-indent:75px;}
#top-pane #top-banner a#top-logo{margin:10px 0px;display:block;}
#menu-wrap{display:block; position:relative; z-index:32; margin:0px auto; width:960px; height:110px; overflow:hidden;}
#menu-wrap ul#menu{position:absolute; left: 52px; background: transparent url(../img/nav-bg.png) top left repeat-x; display:block;margin:0px auto; list-style:none; width:864px; height:77px; padding:33px 0px 0px 0px; text-align:center;}
#menu-wrap ul#menu li{display:inline; text-align:center; margin:50px 10px 0px 10px;}
#menu-wrap ul#menu li a{color:#d99400; font:normal 15px Helvetica; line-height:60px; text-transform:uppercase;}
#menu-wrap ul#menu li a:hover{color:#ffae00;}
/* home page content */
#home-promo{margin-left:35px;}
#home-promo, #home-twitter-container{background: transparent url(../img/home-twitter-widget.png) center center no-repeat;display:block; position:relative; width:314px; height:209px; float:left; top:140px;}
#home-promo h3.promo-header, #home-twitter-container h3.twitter-header{display:block; font:bold 13px helvetica; text-transform:uppercase; height:27px; line-height:27px; padding:0px 15px;}
#home-twitter-container #home-twitter-widget .twtr-hd{display:none;}
#home-twitter-container #home-twitter-widget .twtr-doc {margin-left:13px;}
#home-twitter-container #home-twitter-widget .twtr-widget .twtr-tweet {border:none;}
#home-twitter-container #home-twitter-widget #twtr-widget-1 .twtr-tweet a, #home-twitter-container #home-twitter-widget .twtr-widget .twtr-tweet p{font:normal 12px helvetica;}
#home-twitter-container #home-twitter-widget .twtr-ft{display:none;}
#home-logo-container{display:block; position:relative; width:265px; float:left;}
#home-urbandev-logo{background: transparent url(../img/header-logo.png) center center no-repeat; position:relative; margin:0px auto; width:265px; height:294px; top:95px; text-align:center; overflow:hidden; z-index:5;}
#home-urbandev-logo-glow{background: transparent url(../img/header-logo-glow.png) center center no-repeat;width:265px; height:294px; margin:0px auto;}  
h2#home-slogan{width:600px; height:27px; position:absolute; left:180px; margin:0px; font-weight:bold; font-size: 20px; font-family: Helvetica, sans-serif; color:#FFF; text-align:center; text-indent:-9999px; overflow:hidden; background: transparent url(../img/slogan.png) center center no-repeat; top:450px;}
/* footer and footer menu bar */
#bottom-pane{background: transparent url(../img/orange-glow.png) repeat-x; margin:0px; display:block; position:relative; width:100%; height:230px; padding:30px 0px 0px 0px; z-index:30; top:-32px;}
#bottom-pane #footer-menu{background: transparent url(../img/footer.png) repeat-x; margin:0px; display:block; position:relative; width:864px; height:225px; margin:0px auto;padding:20px 0px 0px 0px;}
#bottom-pane #footer-menu .menu{border-right:#3c2d0b;float:left; width:150px;}
#bottom-pane #footer-menu .our-story{background: transparent url(../img/our-story-bg.png) repeat-x; width:308px; height:200px; list-style:none; padding: 10px 20px 0px 20px; margin:5px 13px 0px 10px; border-right:#3c2d0b;float:left;}
#bottom-pane #footer-menu h4.footer-label{font:bold 13px helvetica;color:#805700;margin:10px 0px 0px 0px; text-transform:uppercase;}
#bottom-pane #footer-menu .our-story h4.footer-label{font:bold 13px helvetica;color:#b3b3b3;margin:0px 0px 0px 0px; text-transform:uppercase;}
#bottom-pane #footer-menu .our-story p{font:normal 12px helvetica; line-height:20px; color:#999999;margin:0px;}
#bottom-pane #footer-menu .menu ul{list-style:none; padding: 0px; margin:0px;}
#bottom-pane #footer-menu .menu ul li {height:20px;}
#bottom-pane #footer-menu .menu ul li, #bottom-pane #footer-menu .menu ul li a{font:normal 12px helvetica; line-height:20px; color:#734e00;white-space:nowrap;}
#bottom-pane #footer-menu .menu.bottom-left , #bottom-pane #footer-menu .menu.bottom-right {width:300px; margin:10px 0px 0px 0px;}
#bottom-pane #footer-menu .menu.bottom-right {width:150px;}
#bottom-pane #footer-menu .menu.bottom-left ul li, #bottom-pane #footer-menu .menu.bottom-right ul li {display:inline;height:20px;float:left;}
#bottom-pane #footer-menu .menu.bottom-left ul li a, #bottom-pane #footer-menu .menu.bottom-right ul li a{display:block; width:150px;height:50px; white-space:nowrap;text-indent:-999px;}
#bottom-pane #footer-menu .menu ul li a:hover{color:#996900;}
#bottom-pane #footer-menu .menu.bottom-left ul li a.twitter-link{background: transparent url(../img/twitter.png) no-repeat;background-position:top left;}
#bottom-pane #footer-menu .menu.bottom-left ul li a.twitter-link:hover{background-position:bottom left;}
#bottom-pane #footer-menu .menu.bottom-left ul li a.github-link{background: transparent url(../img/github.png) no-repeat;background-position:top left;}
#bottom-pane #footer-menu .menu.bottom-left ul li a.github-link:hover{background-position:bottom left;}
#bottom-pane #footer-menu .menu.bottom-right ul li a.just199-link{background: transparent url(../img/just199.png) no-repeat;background-position:top left;}
#bottom-pane #footer-menu .menu.bottom-right ul li a.just199-link:hover{background-position:bottom left;}